<div id="about-modal" class="reveal-modal large" data-reveal aria-labelledby="about-modal-title" aria-hidden="true" role="dialog">
  <h2 id="about-modal-title">About</h2>
  <p class="lead">Tarkin: Team Password Manager</p>
  <p>
    <div id='modal-form-holder'>
      <p>
        Tarkin is the secure Team Password Manager - a tool to store and share the passwords between your team members with command-line client and API to use it in your scripts.
      </p>
      <p>
        Contact the author: <a href="mailto:grych@tg.pl?Subject=Tarkin">Tomek 'Grych' Gryszkiewicz</a>.
      </p>
      <p>
        Visit the <a href="https://github.com/grych/tarkin">homepage on Github</a>.
      </p>
      <p>
        Version <%=Tarkin::Application::VERSION%>.
      </p>
    </div>
  </p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
