<div class="large-6 medium-12 columns font-terminal">
  <%= relative_link_to_directory directory %> 
</div>
<!-- 
<div class="large-3 medium-6 small-6 columns">
</div>
 -->
<div class="large-6 columns hide-for-medium hide-for-small tarkin-groups tarkin-description" style="white-space: pre-wrap;"><%= directory.description %></div>
