<div class="tarkin-panel white">

  <% unless @directory.root? %>
    <div class="row directory highlightable">
      <div class="large-3 medium-5 small-5 columns font-terminal">
        <%= link_to_parent_directory @directory %> 
      </div>
      <div class="large-3 medium-5 small-5 columns">
      </div>
      <div class="large-5 columns hide-for-medium hide-for-small tarkin-groups">
        <!-- <em>parent directory</em> -->
      </div>
      <div class="large-1 medium-2 small-2 columns text-right">
        &nbsp;
      </div>
    </div>
  <% end %>

  <div id="dirs">
    <% current_user.ls_dirs(@directory).each do |directory| %>
      <%= render partial: 'directory_row', locals: {directory: directory} %>
    <% end %>
  </div>

  <% current_user.ls_items(@directory).each do |item| %>
    <%= render partial: 'items/item_row', locals: {item: item} %>
  <% end %>
</div>

<div class="tarkin-panel white buttons-panel hiddenxxxxxxx">
  <div class="row">
    <div class="medium-12 columns">
      <ul class="button-group round ">
        <li><a class="button small"><i class="fi-page-add"></i> New Item</a></li>
        <li><a class="button small" data-reveal-id="new-directory-modal"><i class="fi-folder-add"></i> New Directory</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="new-directory-modal" class="reveal-modal xlarge" data-reveal aria-labelledby="new-directory-modal-title" aria-hidden="true" role="dialog">
  <h2 id="new-directory-modal-title">Create new directory</h2>
  <p class="lead">The new directory inherits groups from the parent</p>
  <div id="new-directory-modal-alert-box" data-alert class="hidden alert-box alert radius">
    <div id="new-directory-modal-alert-box-text">
      HERE BE ERRORS.
    </div>
<!--     <a href="#" class="close" id="new-directory-modal-alert-box-close-button">&times;</a> -->
  </div>
  <p>
    <%= render partial: 'form', locals: {modal: true, parent_directory: @directory, editing_directory: @new_directory} %>
  </p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


