      <% current_user.groups.each do |group| %>
        <div class="row">
          <div class="medium-4 small-2 columns text-right">
            <div class="switch small round">
              <%= check_box_tag "groups[#{group.id}]", true, groups.include?(group) %>
              <label for="groups_<%= group.id %>"></label>
            </div> 
          </div>

          <div class="medium-8 small-10 columns">
            <label for="directory_groups_<%= group.id %>"><%= group.name %></label>
          </div>

        </div>
      <% end %>
