<%= form_for @user, url: {action: 'update_profile'}, method: :post, remote: true, "data-abide" => true do |f| %>
  <div class="row tarkin-panel radius">
    <div class="large-12 columns">

      <%= render partial: 'admin/users/form', locals: {f: f} %>

      <div class="row">
        <div class="large-2 medium-4 columns hide-for-small">
          &nbsp;
        </div>
        <div class="large-10 medium-8 small-12 columns">

          <ul class="button-group ">
            <li>
              <%= button_tag type: :submit, class: 'button success' do %>
                <i class="fi-check"></i> OK
              <% end %>
            </li>
            <li>
              <a id="edit-form-close-button" class="button secondary"><i class="fi-prohibited"></i> Cancel</a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
<% end %>
