<div class="large-6 medium-6 columns">
  <div id="pager" class="pager">
    <form>
      <div class="row">
        <div class="large-2 medium-2 columns inline">
          <label for="pagedisplay" class="right page-buttons">
            <i class="first fi-previous"></i>
            <i class="prev fi-rewind"></i>
          </label>
        </div>
        <div class="large-4 medium-4 columns">
          <input id="pagedisplay" type="text" class="pagedisplay inline" disabled></input>
        </div>
        <div class="large-2 medium-2 columns inline">
          <label for="pagesize" class="page-buttons">
            <i class="next fi-fast-forward"></i>
            <i class="last fi-next"></i>
          </label>
        </div>
        <div class="large-4 medium-4 columns">
          <select id="pagesize" class="pagesize inline">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
