<div class="row">
  <div class="large-12 columns">
    <div class="tarkin-panel radius">

      <table id="groups_table" width="100%" class="tablesorter">
        <caption>Groups</caption>
        <thead>
          <tr>
            <th id="group_name" data-placeholder="filter...">Group name</th>
            <th id="users" data-placeholder="filter...">Users</th>
            <th id="created" data-placeholder="" class="{sorter: false} filter-false hide-for-small">Created at</th>
            <th id="updated" data-placeholder="" class="{sorter: false} filter-false hide-for-small">Updated at</th>
          </tr>
        </thead>
        <%= render partial: 'group', collection: @groups, as: :group %>
      </table>

    </div>
  </div>
</div>
