<div class="row">
  <div class="large-12 columns">
    <div class="tarkin-panel radius">

      <table id="groups_table" width="100%" class="tablesorter">
        <caption>Groups</caption>
        <thead>
          <tr>
            <th id="group_name">Group name</th>
            <th id="users">Users</th>
            <th id="created">Created at</th>
            <th id="updated">Updated at</th>
          </tr>
        </thead>
        <%= render partial: 'group', collection: @groups, as: :group %>
      </table>

    </div>
  </div>
</div>
