@import "foundation/components/panels";
@import "foundation/components/alert-boxes";

.tarkin-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#fafafa
    // Sets the panel padding amount. Default: $panel-padding
    // $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    // $adjust:true,
  );
  margin-top: 20px;
  margin-bottom: 10px;
  .radius {
    @include radius();
  }
}

// .tarkin-panel-white {
//   @include tarkin-panel(
//     $bg:white
//   );
// }

// to prevent colums disapear when empty
.column, .columns{
  min-height: 1px;
}

.white {
  background-color: white;
}

.padded {
  padding-left: 30px;
  padding-right: 30px;
}

.login-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    // $bg:#f8f8f8,
    // Sets the panel padding amount. Default: $panel-padding
    // $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    // $adjust:true
  );
  margin-top: 10px;
  margin-bottom: 10px;  
}

.alert-box {
  margin-top: 10px;
}

div.highlight {    
  background-color: #d0d0d0;   
}

.highlightable {
  padding: 5px 0px 0px 0px;
}

.font-terminal {
  font-family: $font-family-monospace;
  font-size: 12pt;
}

.tarkin-groups {
  font-size: 10pt;
}

