@import "foundation/components/panels";
@import "foundation/components/alert-boxes";

.white-panel {
  @include panel(
    $bg:#fcfcfc
  );
  .radius {
    @include radius();
  }
}

.tarkin-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#fafafa
    // Sets the panel padding amount. Default: $panel-padding
    // $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    // $adjust:true,
  );
  margin-top: 20px;
  margin-bottom: 10px;
  .radius {
    @include radius();
  }
}


// .tarkin-panel-white {
//   @include tarkin-panel(
//     $bg:white
//   );
// }

// to prevent colums disapear when empty
.column, .columns{
  min-height: 1px;
}

.white {
  background-color: white;
}

.padded {
  padding-left: 30px;
  padding-right: 30px;
}

.login-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    // $bg:#f8f8f8,
    // Sets the panel padding amount. Default: $panel-padding
    // $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    // $adjust:true
  );
  margin-top: 10px;
  margin-bottom: 10px;  
}

.alert-box {
  margin-top: 10px;
}

div.highlight {    
  background-color: #d0d0d0;   
}

.highlightable {
  padding: 5px 0px 0px 0px;
}

.highlightable:hover {
  background-color: #d0d0d0;
}

.font-terminal {
  font-family: $font-family-monospace;
  font-size: 12pt;
}

.tarkin-groups {
  font-size: 10pt;
}

.ui-autocomplete {
  font-family: $font-family-monospace;
  font-size: 11pt;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

// .ui-autocomplete-suggestions {
//   border: 1px solid #e7e7e7;
//   background: #FFF;
//   overflow: auto; }

// .ui-autocomplete-suggestion {
//   padding: 6px;
//   font-size: 0.8rem;
//   white-space: nowrap;
//   overflow: hidden; }

// .ui-autocomplete-selected {
//   background-color: #009fd3;
//   transition: all 100ms ease-in-out;
//   color: #fff; }
//   .autocomplete-selected strong {
//     color: #fff !important; }

// .ui-autocomplete-suggestions strong {
//   font-weight: bold;
//   color: #008CBA; }


#search {
  font-family: $font-family-monospace;
  font-size: 11pt;
}


th {
  background-repeat: no-repeat; 
  background-position: 90% 50%; 
}
th.tablesorter-headerAsc { 
  background-image: image-url('jquery-tablesorter/dropbox-asc-hovered.png');
  background-color: scale-color($primary-color, $lightness: 20%); 
} 
th.tablesorter-headerDesc { 
  background-image: image-url('jquery-tablesorter/dropbox-desc-hovered.png');
  background-color: scale-color($primary-color, $lightness: 20%);
}
th.tablesorter-header { 
  cursor: pointer; 
} 
.tablesorter-filter-row .disabled {
  visibility: hidden;
  width: 0px;
  heigth: 0px;
} 
.tablesorter-filter {
  width: 100%;
  height: inherit;
  margin: 2px;
  padding: 2px;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: height 0.1s ease;
  -moz-transition: height 0.1s ease;
  -o-transition: height 0.1s ease;
  transition: height 0.1s ease;
}
.tablesorter-filter-row td {
  line-height: normal;
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}

