@import "foundation/components/panels";
.tarkin-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#f8f8f8,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    // $bg:#f8f8f8,
    // Sets the panel padding amount. Default: $panel-padding
    // $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    // $adjust:true
  );
  margin-top: 10px;
  margin-bottom: 10px;  
}
