<div class="row">
  <div class="large-2 medium-4 columns hide-for-small">
    <label for="password" class="right inline" data-tooltip title='Password must be at least 8 characters lenght'>Password</label>
  </div>
  <div class="large-10 medium-8 small-12 columns password-field">
    <input type="password" name="user[password]" id="user_password" required />
  </div>
</div>

<div class="row">
  <div class="large-2 medium-4 columns hide-for-small">
    <label for="repeat_password" class="right inline" class: "right inline">Confirm password</label>
  </div>
  <div class="large-10 medium-8 small-12 columns password-confirmation-field">
    <input type="password" name="user[password_confirmation]" id="user_password_confirmation" required data-equalto="user_password" />
    <small class="error">The password did not match</small>
  </div>
</div>
